<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">My Assigments</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.1"
                ng-click="app.go('app.login')"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <button
                class="button button-shadowed button-footer-center button-block button-energized"
                data-comp-id="button.2" ng-click="app.action('MyView', 'orderbySeverity', this)"
                style="font-size: 30px;">Order by severity</button>
            <button
                class="button positive-icon button-shadowed button-footer-center button-block button-energized"
                data-comp-id="button.3" ng-click="app.action('MyView', 'orderbyStatus', this)"
                style="font-size: 30px;">Order by status</button>
            <button class="button button-shadowed button-block button-energized"
                data-comp-id="button.4" ng-click="app.action('MyView', 'orderbyDate', this)"
                style="font-size: 30px;">Order by date</button>
        </div>
        <ion-list data-comp-id="ionic-list.1" type="">
            <div class="card" data-comp-display="card.1" data-comp-id="div.2">
                <div class="row light dark-border energized-bg" data-comp-id="row.1"
                    ng-repeat="item in data.myAssignments"
                    style="padding: 5px; margin: 1px; border-width: 2px; border-style: initial; border-color: initial; border-radius: 1px;background-color: {{(item.status == 'new') ? 'red': (item.status == 'assigned (administrator)') ? 'energized-bg' : 'green'}}">
                    <div class="col royal-border text-center" data-comp-id="column.1">
                        <div class="row" data-comp-id="row.2">
                            <div class="col" data-comp-id="column.2">
                                <div data-comp-id="text.1" ng-bind="item.update_date">Some text</div>
                            </div>
                            <div class="col" data-comp-id="column.3">
                                <div data-comp-id="text.2" ng-bind="item.severity" style="font-weight: bold;">Some text</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.3">
                            <div class="col" data-comp-id="column.4">
                                <div class=" text-center" data-comp-id="text.3" style="font-weight: bold;">Category</div>
                            </div>
                            <div class="col" data-comp-id="column.6">
                                <div class=" text-center" data-comp-id="text.5" style="font-weight: bold;">Summary</div>
                            </div>
                            <div class="col" data-comp-id="column.7">
                                <div class=" text-center" data-comp-id="text.6" style="font-weight: bold;">Status</div>
                            </div>
                        </div>
                        <div class="row" data-comp-id="row.4">
                            <div class="col" data-comp-id="column.8">
                                <div class=" text-center" data-comp-id="text.7" ng-bind="item.Category">Some text</div>
                            </div>
                            <div class="col" data-comp-id="column.10">
                                <div class=" text-center" data-comp-id="text.9" ng-bind="item.summary">Some text</div>
                            </div>
                            <div class="col" data-comp-id="column.11">
                                <div class=" text-center" data-comp-id="text.10" ng-bind="item.status">Some text</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>