<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">List View</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <div class="card" data-comp-display="card.1" data-comp-id="div.1">
            <div class="row positive-border positive-bg light" data-comp-id="row.1"
                ng-repeat="item in data.myAssignments" style="">
                <div class="col royal-border text-center" data-comp-id="column.1">
                    <div class="row" data-comp-id="row.2">
                        <div class="col" data-comp-id="column.2">
                            <div class="item item-icon-right" data-comp-id="item.1">
                                <div data-comp-id="text.1" ng-bind="item.id">
                                    Some text
                                    <span class="item-note"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col" data-comp-id="column.3">
                            <div data-comp-id="text.2" ng-bind="item.severity">Some text</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.3">
                        <div class="col" data-comp-id="column.4">
                            <div data-comp-id="text.3">Category</div>
                        </div>
                        <div class="col" data-comp-id="column.5">
                            <div data-comp-id="text.4">Date</div>
                        </div>
                        <div class="col" data-comp-id="column.6">
                            <div data-comp-id="text.5">Summary</div>
                        </div>
                        <div class="col" data-comp-id="column.7">
                            <div data-comp-id="text.6">Status</div>
                        </div>
                    </div>
                    <div class="row" data-comp-id="row.4">
                        <div class="col" data-comp-id="column.8">
                            <div data-comp-id="text.7" ng-bind="item.Category">Some text</div>
                        </div>
                        <div class="col" data-comp-id="column.9">
                            <div data-comp-id="text.8" ng-bind="item.update_date">Some text</div>
                        </div>
                        <div class="col" data-comp-id="column.10">
                            <div data-comp-id="text.9" ng-bind="item.summary">Some text</div>
                        </div>
                        <div class="col" data-comp-id="column.11">
                            <div data-comp-id="text.10" ng-bind="item.status">Some text</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>